<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584695216902-0kq1r52iue5ugmua12dkr8h1qrjgaf1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584695216902-0kq1r52iue5ugmua12dkr8h1qrjgaf1h</string>
	<key>API_KEY</key>
	<string>AIzaSyB-sk_8YQh-VEo2f6fymjxQ8d-LC5fzWGk</string>
	<key>GCM_SENDER_ID</key>
	<string>584695216902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fenger.OutProject</string>
	<key>PROJECT_ID</key>
	<string>outprojectdev</string>
	<key>STORAGE_BUCKET</key>
	<string>outprojectdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584695216902:ios:3a15d77236d0783beabc87</string>
	<key>DATABASE_URL</key>
	<string>https://outprojectdev.firebaseio.com</string>
</dict>
</plist>